<div class="search-product">
  <form action="#" class="form form-search">
    <input class="input-search" type="text" placeholder="search...">
    <div class="btn btn-search">
      <i class="bi bi-search"></i>
    </div>
  </form>
</div>
<div class="accordion" id="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="categories">
      <div
        class="btn accordion-button"
        type="button" data-bs-toggle="collapse"
        data-bs-target="#categories-coll"
        aria-expanded="true"
        aria-controls="categories-coll"
      >
        CATEGORIES
      </div>
    </h2>
    <div
      id="categories-coll"
      class="collapse show"
      aria-labelledby="categories"
    >
      <div class="list-item">
        <ul style="list-style: none; text-align: left; margin-left: -10px">
          <li>
            <a class="text-decoration-none text-dark" href="#">Clothing(120)</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">Bags(30)</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">Shoes(40)</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">Accessories(20)</a>
          </li>
          <li>
            <a  class="text-decoration-none text-dark" href="#">Kids(20)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="branding">
      <div
        class="btn accordion-button"
        type="button" data-bs-toggle="collapse"
        data-bs-target="#branding-coll"
        aria-expanded="true"
        aria-controls="branding-coll"
      >
        BRANDING
      </div>
    </h2>
    <div
      id="branding-coll"
      class="collapse show"
      aria-labelledby="branding"
    >
      <div class="list-item">
        <ul style="list-style: none; text-align: left; margin-left: -10px">
          <li>
            <a class="text-decoration-none text-dark" href="#">Chanel</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">Gucci</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">Adidas</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="filterPrice">
      <div
        class="btn accordion-button"
        type="button" data-bs-toggle="collapse"
        data-bs-target="#filterPrice-coll"
        aria-expanded="true"
        aria-controls="filterPrice-coll"
      >
        FILTER PRICE
      </div>
    </h2>
    <div
      id="filterPrice-coll"
      class="collapse show"
      aria-labelledby="filterPrice"
    >
      <div class="list-item">
        <ul style="list-style: none; text-align: left; margin-left: -10px">
          <li>
            <a class="text-decoration-none text-dark" href="#">$00 - $50</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">$50 - $100</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">$100 - $150</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">$150 - $200</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">$200 - $250</a>
          </li>
          <li>
            <a class="text-decoration-none text-dark" href="#">$250+</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
