<section class="home">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-controls">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active" style="background-image:url('../../../../../assets/intro/slide_01.jpg')"></li>
        <li data-target="#carousel" data-slide-to="1" style="background-image:url('../../../../../assets/intro/slide_02.jpg')"></li>
      </ol>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <img src="../../../../../assets/intro/left-arrow.svg" alt="Prev">
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <img src="../../../../../assets/intro/right-arrow.svg" alt="Next">
      </a>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image:url('../../../../../assets/intro/slide_01.jpg')">
        <div class="container">
          <h2>MEN'S</h2>
          <p>SHORTS</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url('../../../../../assets/intro/slide_02.jpg')">
        <div class="container">
          <h2>MEN'S</h2>
          <p>PANTS & CHINOS</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container detail-intro">
  <div class="row">
    <div class="col-12 col-md-6 title-left-intro d-sm-none d-none d-md-block">
      <p class="h2">Clothing<br class="d-sm-none d-none d-md-block">Collections 2020</p>
      <button class="btn-shop">SHOP NOW</button>
    </div>
    <div class="col-12 col-md-6 ">
      <img src="../../../../../assets/intro/intro_01.png" alt="image" class="image-intro">
    </div>
    <div class="col-12 col-md-6 d-sm-block d-md-none d-block">
      <p class="h2">Clothing<br class="d-sm-none d-none d-md-block">Collections 2020</p>
      <button class="btn-shop">SHOP NOW</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../../../../../assets/intro/intro_02.png" alt="image" class="image-intro" style="max-width: 440px">
    </div>
    <div class="col-12 col-md-6 title-right-intro">
      <p class="h2">Clothing<br class="d-sm-none d-none d-md-block">Collections 2020</p>
      <button class="btn-shop">SHOP NOW</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-6 title-left-intro d-sm-none d-none d-md-block">
      <p class="h2">Clothing<br class="d-sm-none d-none d-md-block">Collections 2020</p>
      <button class="btn-shop">SHOP NOW</button>
    </div>
    <div class="col-12 col-md-6 ">
      <img src="../../../../../assets/intro/intro_03.png" alt="image" class="image-intro">
    </div>
    <div class="col-12 col-md-6 d-sm-block d-md-none d-block">
      <p class="h2">Clothing<br class="d-sm-none d-none d-md-block">Collections 2020</p>
      <button class="btn-shop">SHOP NOW</button>
    </div>
  </div>
</div>
<div class="List-product-hot">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active h4 text-dark" href="#">Best Sellers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link h4 text-dark" href="#">New Arrivals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link h4 text-dark" href="#">Hot Sales</a>
    </li>
  </ul>
  <div class="container">
    <div class="list-product">
      <app-card-product class="card-product"></app-card-product>
      <app-card-product class="card-product"></app-card-product>
      <app-card-product class="card-product"></app-card-product>
      <app-card-product class="card-product"></app-card-product>
    </div>
  </div>
</div>
<div class="product-sale container">
  <div class="sale-content justify-content-center">
    <div class="title-sale">
      <p>Clothings Hot</p>
      <p>Shoe Collection</p>
      <p>Accessories</p>
    </div>
    <div class="image-sale">
      <img src="../../../../../assets/intro/sale.png" alt="image">
    </div>
    <div class="time-sale">
      <p>
        DEAL OF THE WEEK
      </p>
      <p>
        Multi-pocket Chest Bag Black
      </p>
      <div>
      <p>12 : 30 : 40 : 30</p>
      </div>
    </div>
  </div>
</div>
