<section class="ftco-section">
  <div class="wrap">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <p class="mb-0 phone"><i class="bi bi-telephone-fill" style="color: white"></i> <a href="#"> 0985140102</a></p>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a *ngFor="let icon of listIconContact" href="{{icon.url}}" class="d-flex align-items-center justify-content-center"><span><i class="{{icon.icon}}"></i></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Male Fashion <span></span></a>
      <div class="order-sm-start order-lg-last btn" style="display: flex">
        <div class="btn text-secondary border-0" style="margin-right: 10px;">
          Login
        </div>
        <div class="btn text-dark border-0">
          Register
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item" *ngFor="let menu of listMenu"><a href="{{menu.url}}" class="nav-link {{getActiveMenu(menu.url)}}">{{menu.name}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

</section>
