<app-breadcrumb-option></app-breadcrumb-option>
<div class="container">
  <div class="row">
    <div class="col-lg-3" style="margin-top: 10px">
      <app-aside-product></app-aside-product>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          Showing 1–12 of 126 results
          <div class="list-product">
            <app-card-product
              class="card-product"
              *ngFor="let product of listProduct"
              [product] = "product"
            ></app-card-product>
          </div>
        </div>
<!--        <div class="col-lg-1 col-md-6 col-sm-6">-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
