.container{
  margin-top: 70px;
}
/*Card*/

.card-product{
  margin: 10px 10px;
  width: calc(25% - 20px);
}
.list-product{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
}

@media (max-width: 576px) {
  .card-product{
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .card-product{
    width: calc(50% - 20px);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .card-product{
    width: calc(33.33% - 20px);
  }
  .title-sale{
    padding-left: 200px;
  }
  .title-sale,
  .time-sale,
  .image-sale{
    width: calc(33.33%- 10px);
  }
}
