.image-product {
    width: 100%;
    height: 100%;
}

.card-product {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-image{
  flex-shrink: 0;
}
.card-content {
    flex: 1;
}

.card-content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.card-footer-product {
    margin-top: auto;
}

.btn-add-cart {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    margin-top: -300px;
}

.card-product:hover .card-content .card-header-product .btn-add-cart {
    transition-delay: 0.1s;
    opacity: 1;
    visibility: visible;
}

.card-header-product {
    margin-top: 10px;
    flex-shrink: 0;
}

.card-product:hover .card-content .card-header-product .card-name {
    transition-delay: 0.2s;
    opacity: 1;
    visibility: hidden;
}

.card-name {
    margin-top: -20px;
    font-weight: 480;
}

.image-hover {
    display: none;
}

.card-product:hover .card-image .image-hover {
    display: block;
}

.card-product:hover .card-image .image-main {
    display: none;
}

.card-image {
    position: relative;
}

.discount {
    position: absolute;
    top: 16px;
    left: 0px;
    background-color: black;
    padding: 5px 15px;
    color: white;
    font-size: 11px;
}

.star {
    color: orange;
}

.card-price {
    font-weight: bold;
}
.icon-card{
  position: absolute;
  top: 16px;
  right: 5px;
}
.icon-card-item i {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.icon-card-item{
  padding: 5px 10px;
  background-color: white;
  margin-bottom: 8px;
}
.icon-card{
  display: none;
}
.card-product:hover .card-image .icon-card {
  display: block;
}
.popover-detail{
  position: absolute;
  top: 50px;
  right: 50px;
  color: white;
  background-color: black;
  padding: 5px 10px;
  font-size: 11px;
  display: none;
}
.icon-card-item:hover .popover-detail{
  display: block;
}
.footer-content{
  display: flex;
  justify-content: space-between;
}
