<div class="card-product">
  <div class="card-image">
    <img class="image-product image-main" src="https://res.cloudinary.com/awi-ln/image/upload/v1645604881/slesome05kwubhrwzsgs.jpg" alt="image">
    <img class="image-product image-hover" src="https://res.cloudinary.com/awi-ln/image/upload/v1645604883/in3wv0whw4jf1730pisf.jpg" alt="image_2">
  </div>
  <div class="card-content">
    <div class="card-header-product">
      <a href="#" class="text-danger text-decoration-none btn-add-cart">+ Add To Cart</a>
      <p class="card-name">
        POLO PRIMEKNIT
      </p>
    </div>
    <div class="card-footer-product">
      <p class="card-star">
        <i class="bi bi-star-fill star"></i>
        <i class="bi bi-star-fill star"></i>
        <i class="bi bi-star-fill star"></i>
        <i class="bi bi-star-fill star"></i>
        <i class="bi bi-star-fill star"></i>
      </p>
      <p class="card-price">
        $67.54
      </p>
    </div>
  </div>
</div>
